<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- logo -->
    <link rel="icon" href="asset/images/2.png">
    <title>Ecommerce | Tailwick - Admin & Dashboard Template</title>
    <!-- font  -->
    <link rel="stylesheet" href="asset/fonts/stylesheet.css">
    <!-- css -->
    <link rel="stylesheet" href="asset/css/style.css">
    <!-- media css -->
    <link rel="stylesheet" href="asset/css/media.css">
</head>

<body>
    <!-- header start -->
    <header>
        <div class="d-flex f-flex justify-bettwen">
            <div class="h-icon d-flex f-flex align-center">

                <iconify-icon id="sidebarToggle" icon="icon-park-outline:double-left"
                    style="color: #92afd3"></iconify-icon>

                <input type="search" name="" id="" placeholder="
                Search for ...
                ">
            </div>
            <div class="h-flag d-flex f-flex align-center justify-bettwen">
                <img src="asset/images/us.svg" alt="">
                <iconify-icon icon="pepicons-pencil:sun" style="color: #92afd3"></iconify-icon>
                <div class="aa">
                    <iconify-icon class="h-num" icon="ph:shopping-cart-simple-light"
                        style="color: #92afd3"></iconify-icon>
                    <iconify-icon class="random" icon="fluent:number-circle-3-16-filled"
                        style="color: #f87171"></iconify-icon>
                </div>
                <div class="h-bell d-flex f-flex align-center">
                    <iconify-icon icon="lucide:bell-ring" style="color: #92AFD3"></iconify-icon>
                    <iconify-icon icon="iconamoon:settings-thin" style="color: #92AFD3"></iconify-icon>

                </div>
                <div class="profile">
                    <div class="u-img">
                        <a href="javascript:void(0)"><img src="asset/images/1.png" alt=""></a>
                    </div>
                    <div class="user-setting">
                        <ul>
                            <li>Welcome to Tailwick </li>
                            <li>
                                <a class="d-flex f-flex" href="">
                                    <img src="asset/images/1.png" alt="">
                                    <div class="p-info">
                                        <h6>Paula Keenan</h6>
                                        <span>CEO & Founder</span>
                                    </div>
                                </a>
                            </li>
                            <li class="u-pro d-flex f-flex ">
                                <a class="d-flex f-flex" href="">
                                    <iconify-icon icon="ant-design:user-outlined" style="color: #92AFD3"></iconify-icon>
                                    <h6> Profile</h6>
                                </a>
                            </li>
                            <li class="u-pro d-flex f-flex ">
                                <a class="d-flex f-flex" href="">
                                    <iconify-icon icon="ep:message" style="color: #92AFD3"></iconify-icon>
                                    <h6> Inbox </h6>
                                    <span>15</span>
                                </a>
                            </li>
                            <li class="u-pro d-flex f-flex">
                                <a class="d-flex f-flex" href="">
                                    <iconify-icon icon="lucide:messages-square" style="color: #92AFD3"></iconify-icon>
                                    <h6> Chat </h6>
                                </a>
                            </li>
                            <li class="u-pro b-bottom d-flex f-flex">
                                <a class="d-flex f-flex" href="">
                                    <iconify-icon icon="bi:gem" style="color: #92AFD3"></iconify-icon>
                                    <h6> Upgrade </h6>
                                    <h5 class="pro d-flex f-flex text-center">pro</h5>
                                </a>
                            </li>
                            <li class="u-pro d-flex f-flex">
                                <a class="d-flex f-flex" href="">
                                    <iconify-icon icon="ic:baseline-logout" style="color: #92AFD3"></iconify-icon>
                                    <h6> Sign Out </h6>

                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- header end -->
    <!-- aside start -->
    <aside>
        <div class="logo d-flex f-flex justify-center justify-bettwen">
            <img src="asset/images/logo.png" alt="">
        </div>
        <div class="h-menu">
            <h2>MENU</h2>
            <div class="a-menu">
                <ul>
                    <li class="a-board">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:monitor-dot" style="color: #92AFD3" class="mr-8"></iconify-icon>
                            Dashboards
                            <iconify-icon class="d-flex f-flex f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-dash">
                            <li class="a-an"> <a href="javascript:void(0)"> Analytics</a></li>
                            <li class="a-ec"> <a href="javascript:void(0)"> Ecommerce</a></li>
                            <li class="a-em"> <a href="javascript:void(0)"> Email</a></li>
                            <li class="a-hr"> <a href="javascript:void(0)"> HR</a></li>
                            <li class="a-so"> <a href="javascript:void(0)"> Social</a></li>
                        </ul>
                    </li>
                    <li class="a-lan">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="tabler:picture-in-picture" style="color: #92AFD3"
                                class="mr-8"></iconify-icon>
                            Landing Page
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-land">
                            <li class="a-one"> <a href="javascript:void(0)"> One Page</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Product</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
            <h2>APPS</h2>
            <div class="a-apps">
                <ul>
                    <li class="">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:messages-square" style="color: #92AFD3"></iconify-icon>
                            Chat
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="material-symbols:mail-outline" style="color: #92AFD3"></iconify-icon>
                            Email
                        </a>
                    </li>
                    <li class="a-cal">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:calendar-days" style="color: #92AFD3"></iconify-icon>
                            Calendar
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ca">
                            <li class="a-one"> <a href="javascript:void(0)"> Default</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Month Grid</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Multi Month Stack</a></li>

                        </ul>
                    </li>
                    <li class="a-eco">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:shopping-bag" style="color: #92AFD3"></iconify-icon>
                            Ecommerce
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ecom">
                            <li class="a-one"> <a href="javascript:void(0)">Products</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Shopping Cart</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Checkout</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Orders</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Order Overview</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Sellers</a></li>

                        </ul>
                    </li>
                    <li class="a-ment">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:circuit-board" style="color: #92AFD3"></iconify-icon>
                            HR Management
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-mana">
                            <li class="a-one"> <a href="javascript:void(0)">Products</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Shopping Cart</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Checkout</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Orders</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Order Overview</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Sellers</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Payroll</a></li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:scroll-text" style="color: #92AFD3"></iconify-icon>
                            Notes
                        </a>
                    </li>
                    <li class="a-soc">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:radio-tower" style="color: #92AFD3"></iconify-icon>
                            Social
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ial">
                            <li class="a-one"> <a href="javascript:void(0)">Friends</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Event</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Watch Video</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Marketplace
                                </a></li>
                        </ul>
                    </li>
                    <li class="a-in">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:file-text" style="color: #92AFD3"></iconify-icon>
                            Invoices
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ice">
                            <li class="a-one"> <a href="javascript:void(0)">List View</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Add New</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Overview</a></li>
                        </ul>
                    </li>
                    <li class="a-us">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="majesticons:user-line" style="color: #92AFD3"></iconify-icon>
                            Users
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-rs">
                            <li class="a-one"> <a href="javascript:void(0)">List View</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Grid View</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <h2>PAGES</h2>
            <div class="a-pages">
                <ul>
                    <li class="a-cation">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:award" style="color: #92AFD3"></iconify-icon>
                            Authentication
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-auto">
                            <li class="a-one"> <a href="javascript:void(0)">Login</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Register</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Verify Email</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Two Steps</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Logout</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Reset Password</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Create Password</a></li>

                        </ul>
                    </li>
                    <li class="a-page">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:codesandbox" style="color: #92AFD3"></iconify-icon>
                            Pages
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-es">
                            <li class="a-one"> <a href="javascript:void(0)"> Account</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Settings</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Pricing</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> FAQ's</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Contact Us</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Coming Soon</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Error Pages</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Maintenance</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <h2>COMPONENTS</h2>
            <div class="a-com">
                <ul>
                    <li class="a-ui">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:life-buoy" class="mr-8" style="color: #92AFD3"></iconify-icon>
                            UI Elements
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ele">
                            <li class="a-one"> <a href="javascript:void(0)"> Alerts</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Avatar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Buttons</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Label</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Cards</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Collapse</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Countdown</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Drawer</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Dropdown</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Gallery</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Lists</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Notification</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Modal</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Spinners</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Timeline</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Progress Bar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Tooltip</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Video</a></li>
                        </ul>
                    </li>
                    <li class="a-plug">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:package-plus" style="color: #92AFD3"></iconify-icon>
                            Plugins
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ins">
                            <li class="a-one"> <a href="javascript:void(0)"> Sweetalert</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Simplebar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Lightbox</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Swiper Slider
                                </a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Scroll Hint</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)">Video Player</a></li>

                        </ul>
                    </li>
                    <li class="a-nav">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:locate-fixed" style="color: #92AFD3"></iconify-icon>
                            Navigation
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-tion">
                            <li class="a-one"> <a href="javascript:void(0)"> Navbar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Tabs</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Breadcrumb</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Pagination</a></li>


                        </ul>
                    </li>
                    <li class="a-for">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:file-text" style="color: #92AFD3"></iconify-icon>
                            Forms
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ms">
                            <li class="a-one"> <a href="javascript:void(0)"> Basic</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Validation</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Input Mask</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Select</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Checkbox & Radio</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Switches</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Wizards</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> File Upload</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Date Picker</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Time Picker</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Color Picker</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Multi Select</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Input Spin</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Clipboard</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Editor</a></li>

                        </ul>
                    </li>
                    <li class="a-tab">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="ic:outline-table-rows" style="color: #92AFD3"></iconify-icon>
                            Tables
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-les">
                            <li class="a-one"> <a href="javascript:void(0)"> Basic Table</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Datatable</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> List js</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Grid Js</a></li>


                        </ul>
                    </li>
                    <li class="a-apex">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="lucide:pie-chart" style="color: #92AFD3"></iconify-icon>
                            Apexcharts
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-charts">
                            <li class="a-one"> <a href="javascript:void(0)"> Area</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Bar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Boxplot</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Bubble</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Candlstick</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Column</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Funnel</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Heatmap</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Line</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Mixed</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Pie</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Polar Area</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Radar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Radialbar</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Range Area</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Scatter</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Timeline</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Treemap</a></li>
                        </ul>
                    </li>
                    <li class="a-ico">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="octicon:trophy-16" style="color: #92AFD3"></iconify-icon>
                            Icons
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ns">
                            <li class="a-one"> <a href="javascript:void(0)"> Remix</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Lucide</a></li>
                        </ul>
                    </li>
                    <li class="a-ma">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="mdi:map-outline" style="color: #92AFD3"></iconify-icon>
                            Maps
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-ps">
                            <li class="a-one"> <a href="javascript:void(0)"> Google Maps</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Leaflet Map</a></li>
                        </ul>
                    </li>
                    <li class="a-mul">
                        <a href="javascript:void(0)">
                            <iconify-icon icon="material-symbols:share-outline" style="color: #92AFD3"></iconify-icon>
                            Multi Level
                            <iconify-icon class="f-right" icon="mingcute:right-line"
                                style="color: #92AFD3"></iconify-icon>
                        </a>
                        <ul class="a-vel">
                            <li class="a-one"> <a href="javascript:void(0)"> Level 1.1</a></li>
                            <li class="a-prod"> <a href="javascript:void(0)"> Level 1.2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <!-- aside end -->

    <!-- contant start -->

    <section class="contant">
        <!-- grow strat -->
        <div class="grow d-flex justify-bettwen align-center">
            <h2>Ecommerce</h2>
            <div class="g-contant d-flex">
                <span><a href="javascript:void(0)"> Dashboards</a></span>
                <iconify-icon icon="mingcute:right-line" style="color: #92afd3"></iconify-icon>
                <h3>Ecommerce</h3>
            </div>
        </div>
        <!-- grow end -->

        <!-- relative start -->
        <div class="relative d-flex justify-bettwen align-center">
            <div class="r-heading">
                <h2>Welcome Paula Keenan 🎉</h2>
                <p>An ecommerce dashboard has just that purpose. It provides your <br> ecommerce team with a clear
                    overview of key financial and website <br> KPIs at any time.</p>
                <button class="btn">Take a Product</button>
            </div>
            <div class="r-img">
                <img src="asset/images/dashboard.png" alt="">
            </div>
        </div>
        <!-- relative end -->

        <!-- order start -->
        <div class="order">
            <div class="o-head d-flex justify-bettwen">
                <h3>Order Statistics</h3>
                <h4><a href="javascript:void(0)">
                        View All<iconify-icon icon="lucide:move-right" style="color: #3b82f6"></iconify-icon> </a></h4>
            </div>
            <div id="chart"></div>
        </div>
        <!-- order end -->

        <!-- t-revenu start -->
        <div class="t-revenu">
            <div class="icon d-flex justify-center align-center">
                <iconify-icon icon="lucide:wallet-2" style="color: #3b82f6"></iconify-icon>
            </div>
            <div class="r-num d-flex justify-center">
                <h5> $236.18k </h5>
            </div>
            <div class="revenu d-flex justify-center">
                <h3>Total Revenue</h3>
            </div>
        </div>
        <!-- t-revenu end -->

        <!-- t-order start -->
        <div class="t-order">
            <div class="t-icon d-flex justify-center align-center">
                <iconify-icon icon="lucide:package" style="color: #a855f7"></iconify-icon>
            </div>
            <div class="r-num d-flex justify-center">
                <h5>13,461 </h5>
            </div>
            <div class="revenu d-flex justify-center">
                <h3>Total Orders</h3>
            </div>
        </div>
        <!-- t-order end -->

        <!-- delivered start -->
        <div class="delivered">
            <div class="d-icon d-flex justify-center align-center">
                <iconify-icon icon="lucide:truck" style="color: #249782"></iconify-icon>
            </div>
            <div class="r-num d-flex justify-center">
                <h5>17,150 </h5>
            </div>
            <div class="revenu d-flex justify-center">
                <h3>Delivered</h3>
            </div>
        </div>
        <!-- dilivered end -->

        <!-- cencel start -->
        <div class="Cancelled">
            <div class="c-icon d-flex justify-center align-center">
                <iconify-icon icon="lucide:package-x" style="color: #ef4444"></iconify-icon>
            </div>
            <div class="r-num d-flex justify-center">
                <h5>3,519 </h5>
            </div>
            <div class="revenu d-flex justify-center">
                <h3>Cancelled</h3>
            </div>
        </div>
        <!-- cencel end -->

        <!-- s-revenu start -->
        <div class="s-revenu">
            <div class="s-head d-flex justify-bettwen">
                <h2>Sales Revenue Overview</h2>
                <input type="text" placeholder="Select Date
                ">
            </div>
            <div class="s-chart d-flex ">
                <iconify-icon icon="lucide:bar-chart" style="color: #0eafe9"></iconify-icon>
                <div class="s-con">
                    <h2>Total Sales</h2>
                    <h5>$1,517.36k</h5>
                </div>
                <iconify-icon icon="material-symbols:trending-up" style="color: #249782"></iconify-icon>
                <div class="s-con">
                    <h2>Total Profit</h2>
                    <h5>$746.84k</h5>
                </div>
            </div>
            <div id="sales"></div>
        </div>
        <!-- s-revenu end -->

        <!-- t-resourse start -->
        <div class="t-resourse">

            <div class="t-head d-flex justify-bettwen">
                <h2>Traffic Resources</h5>
                    <h4>
                        <a href="javascript:void(0)">
                            View Status<iconify-icon icon="lucide:move-right" style="color: #3b82f6"></iconify-icon>
                        </a>
                    </h4>
            </div>
            <div class="t-chart ">
                <div class="r-icon d-flex justify-bettwen f-right">
                    <iconify-icon class="" icon="mdi:triangle-small-up" style="color: #249782"></iconify-icon>
                    <h2>Search Engine <br> (22%)</h2>
                    <iconify-icon icon="mdi:triangle-small-up" style="color: #a855f7"></iconify-icon>
                    <h3>Search Engine <br> (22%)</h3>
                    <iconify-icon icon="mdi:triangle-small-up" style="color: #0eafe9"></iconify-icon>
                    <h4>Search Engine <br> (22%)</h4>
                </div>
                <div id="t-resource">

                </div>

            </div>
        </div>
        <!-- t-resourse end -->

        <!-- m-order start -->
        <div class="m-order ">
            <div class="m-co d-flex justify-bettwen">
                <h2>1,596 <br> Monthly Orders Goal (20000+)
                </h2>

                <div class="m-icon d-flex">
                    <iconify-icon icon="material-symbols:trending-down" style="color: red"></iconify-icon>
                    <h3>6.8%</h3>
                </div>
            </div>
            <div class="m-total d-flex justify-bettwen">
                <p>Total Orders</p>
                <h6>85%</h6>

            </div>
            <div class="progress">
                <progress value="85" max="100" class="progress"></progress>
            </div>
        </div>
        <!-- m-order end -->

        <!-- p-order start -->
        <div class="p-order">
            <div class="p-con d-flex justify-bettwen align-center">
                <h2>Product Orders</h2>
                <div class="p-input">
                    <input type="text" placeholder="Search for ...
                    ">
                    <button><iconify-icon class="d-flex justify-center" icon="iconoir:import"
                            style="color: #fff"></iconify-icon>Export</button>
                </div>
            </div>
            <div class="p-table">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Order ID</th>
                            <th>Customer Name</th>
                            <th>Location</th>
                            <th>Order Date</th>
                            <th>Payments</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>01</td>
                        <td>#TWT5015100365</td>
                        <td>Marie Prohaska</td>
                        <td>Germany</td>
                        <td>08 Jun, 2023</td>
                        <td>Credit Card</td>
                        <td>05</td>
                        <td>$146.99 </td>
                        <td>$749.95</td>
                        <td>Delivered</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>#TWT5015100366</td>
                        <td>Jaqueline Hammes</td>
                        <td>France</td>
                        <td>11 July, 2023</td>
                        <td>Paypal</td>
                        <td>02</td>
                        <td>$450.00</td>
                        <td>$900.00</td>
                        <td>Shipping</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>#TWT5015100367</td>
                        <td>Marlene Hirthe</td>
                        <td>Argentina</td>
                        <td>21 Aug, 2023</td>
                        <td>Visa Card</td>
                        <td>03</td>
                        <td>$147.23</td>
                        <td>$294.46</td>
                        <td>New</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>#TWT5015100368</td>
                        <td>Reagan Larson</td>
                        <td>Belgium</td>
                        <td>28 Nov, 2023</td>
                        <td>American Express</td>
                        <td>01</td>
                        <td>$579.12 </td>
                        <td>$579.12 </td>
                        <td>Delivered</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>#TWT5015100369</td>
                        <td>Glennie Langosh</td>
                        <td>Australia</td>
                        <td>11 Oct, 2023</td>
                        <td>American Express</td>
                        <td>01</td>
                        <td>$349.00</td>
                        <td>$349.00</td>
                        <td>Pending</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                    <tr>
                        <td>06</td>
                        <td>#TWT5015100370</td>
                        <td>Rickie Cremin</td>
                        <td>United States</td>
                        <td>16 Feb, 2023</td>
                        <td>COD</td>
                        <td>03</td>
                        <td>$89.49</td>
                        <td>$268.47</td>
                        <td>Delivered</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                    <tr>
                        <td>07</td>
                        <td>#TWT5015100371</td>
                        <td>Domenic Tromp</td>
                        <td>Afghanistan</td>
                        <td>21 Jan, 2024</td>
                        <td>PayPal</td>
                        <td>02</td>
                        <td>$739.79</td>
                        <td>$1,479.58</td>
                        <td>New</td>
                        <td><a href=""><iconify-icon icon="mingcute:more-1-line"
                                    style="color: #c8d7e9"></iconify-icon></a></td>
                    </tr>
                </table>
            </div>
            <div class="t-data d-flex justify-bettwen align-center">
                <h2>Showing 07 of 19 Results</h2>
                <div class="button">
                    <a href=""><button><iconify-icon icon="mingcute:left-line" style="color: #92afd3"></iconify-icon>
                            Prev</button></a>
                    <a href=""><button>1</button></a>
                    <a href=""><button>2</button></a>
                    <a href=""><button>3</button></a>
                    <a href=""><button>Next<iconify-icon icon="mingcute:right-line"
                                style="color: #92afd3"></iconify-icon></button></a>
                </div>
            </div>
        </div>
        <!-- p-order end -->

        <!-- c-ser start -->
        <div class="c-ser">
            <div class="c-con d-flex justify-bettwen align-center">
                <h2>Customer Service</h2>
                <a href=""> <iconify-icon icon="mingcute:more-2-line" style="color: #64748b"></iconify-icon></a>
            </div>
            <div class="c-data">
                <p>28% of the Goal Reached ($25k)</p>
            </div>
            <div class="progress">
                <progress value="28" max="100" class="progress"></progress>
            </div>
            <div class="month d-flex align-center">
                <iconify-icon icon="lucide:calendar-days" style="color: #c8d7e9"></iconify-icon>
                <div class="m-con">
                    <h2>This Month:</h2>
                    <p>$13,741</p>
                </div>
            </div>
            <div class="t-costomer">
                <h2>Top Customer</h2>
                <ul>
                    <li>
                        <div class="c-emp d-flex justify-bettwen align-center">
                            <div class="c-img">
                                <img src="asset/images/3.png" alt="">

                            </div>
                            <div class="c-contant">
                                <h4>Urrie Arthur</h4>
                                <p>arthur@tailwick.com</p>
                            </div>
                            <div class="c-num">
                                <h3>$2,452</h3>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="client d-flex justify-bettwen align-center">
                            <div class="c-img">
                                <img src="asset/images/4.png" alt="">

                            </div>
                            <div class="c-contant">
                                <h4>Natalie Christy</h4>
                                <p>natalie@tailwick.com</p>
                            </div>
                            <div class="c-num">
                                <h3>$1,893</h3>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="client d-flex justify-bettwen align-center">
                            <div class="c-img">
                                <img src="asset/images/5.png" alt="">

                            </div>
                            <div class="c-contant">
                                <h4>Laurie Jackson</h4>
                                <p>jackson@tailwick.com</p>
                            </div>
                            <div class="c-num">
                                <h3>$1,196</h3>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="client d-flex justify-bettwen align-center">
                            <div class="c-img">
                                <img src="asset/images/6.png" alt="">

                            </div>
                            <div class="c-contant">
                                <h4>Michael Torres</h4>
                                <p>torres@tailwick.com</p>
                            </div>
                            <div class="c-num">
                                <h3>$976</h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- c-ser end -->

        <!-- s-month start -->
        <div class="s-month">
            <div class="sales d-flex justify-bettwen align-center">
                <h6>Sales This Month</h6>
                <a href=""> <iconify-icon icon="mingcute:more-2-line" style="color: #64748b"></iconify-icon></a>
            </div>
            <div class="s-icon d-flex">
                <iconify-icon icon="material-symbols:trending-up" style="color: #249782"></iconify-icon>
                <div class="t-pro ">
                    <h2>Total Profit</h2>
                    <h5>$746.84k</h5>
                </div>
            </div>
            <div id="salesThisMonthChart"></div>
        </div>
        <!-- s-month end -->

        <!-- t-sell end -->
        <div class="t-sell">
            <div class="sales d-flex justify-bettwen align-center">
                <h6>Top Selling Products</h6>
                <a href=""> <iconify-icon icon="mingcute:more-2-line" style="color: #64748b"></iconify-icon></a>
            </div>
            <div class="p-sell d-flex justify-bettwen align-center">
                <div class="p-img">
                    <img src="asset/images/7.png" alt="">
                </div>
                <div class="p-contant">
                    <h2>Mesh Ergonomic Black...</h2>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-half" style="color: #eab308"></iconify-icon>

                </div>
                <div class="p-num">
                    <h3><iconify-icon icon="lucide:shopping-cart" style="color: rgb(146 175 211)"></iconify-icon>798
                    </h3>
                </div>
            </div>
            <div class="p-sell d-flex justify-bettwen align-center">
                <div class="p-img">
                    <img src="asset/images/8.png" alt="">
                </div>
                <div class="p-contant">
                    <h2>Fastcolors Typography ...</h2>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-half" style="color: #eab308"></iconify-icon>

                </div>
                <div class="p-num">
                    <h3><iconify-icon icon="lucide:shopping-cart" style="color: rgb(146 175 211)"></iconify-icon>695
                    </h3>
                </div>
            </div>
            <div class="p-sell d-flex justify-bettwen align-center">
                <div class="p-img">
                    <img src="asset/images/9.png" alt="">
                </div>
                <div class="p-contant">
                    <h2>Mesh Ergonomic Green...</h2>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-half" style="color: #eab308"></iconify-icon>

                </div>
                <div class="p-num">
                    <h3><iconify-icon icon="lucide:shopping-cart" style="color: rgb(146 175 211)"></iconify-icon>985
                    </h3>
                </div>
            </div>
            <div class="p-sell d-flex justify-bettwen align-center">
                <div class="p-img">
                    <img src="asset/images/10.png" alt="">
                </div>
                <div class="p-contant">
                    <h2>Techel Black Bluetooth...</h2>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-half" style="color: #eab308"></iconify-icon>

                </div>
                <div class="p-num">
                    <h3><iconify-icon icon="lucide:shopping-cart" style="color: rgb(146 175 211)"></iconify-icon>813
                    </h3>
                </div>
            </div>
            <div class="p-sell d-flex justify-bettwen align-center">
                <div class="p-img">
                    <img src="asset/images/11.png" alt="">
                </div>
                <div class="p-contant">
                    <h2>Bovet Fleurier AIFSQ0...</h2>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-half" style="color: #eab308"></iconify-icon>

                </div>
                <div class="p-num">
                    <h3><iconify-icon icon="lucide:shopping-cart" style="color: rgb(146 175 211)"></iconify-icon>915
                    </h3>
                </div>
            </div>
            <div class="p-sell d-flex justify-bettwen align-center">
                <div class="p-img">
                    <img src="asset/images/8.png" alt="">
                </div>
                <div class="p-contant">
                    <h2>Fastcolors Typograph...</h2>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-rate" style="color: #eab308"></iconify-icon>
                    <iconify-icon icon="ic:baseline-star-half" style="color: #eab308"></iconify-icon>

                </div>
                <div class="p-num">
                    <h3><iconify-icon icon="lucide:shopping-cart" style="color: rgb(146 175 211)"></iconify-icon>785
                    </h3>
                </div>
            </div>

        </div>
        <!-- t-sell end -->

        <!-- audience start -->
        <div class="Audience">
            <h2>Audience</h2>
            <div id="audienceChart"></div>
        </div>
        <!-- audience end -->
        <!-- <div class="">
            <h2>2024©Tailwick.</h2>
            <p>Design & Develop by Themesdesign</p>
        </div> -->
    </section>

    <!-- jquery -->
    <script src="asset/js/jquery-3.7.1.min.js"></script>
    <script>

    </script>
    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- main js -->
    <script src="asset/js/main.js"></script>

    <!-- icon -->
    <script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"></script>
</body>

</html>